body{
    background-color: #ffffff;
    margin: 0;
	padding: 0;
}

#manager1, #strategy1{
    padding-left: 10rem;
    padding-right: 5rem;
}

#manager2, #strategy2{
    padding-left: 5rem;
    padding-right: 10rem;
}

h2, h3{
    font-family: 'Orbitron';
    padding-top: 2rem;
}

h5{
    font-family: 'Orbitron';
    font-size: 17px;
    color: green
}

p{
    text-align: justify;
    text-justify: inter-character;
    margin: 0
}

td{
    text-align: center
}