body{
    background-color: #ffffff;
    margin: 0;
	padding: 0;
}

ul{
	margin: 40px 52px;
	padding: 0;
	display: flex;
}
ul li{
	list-style: none;
	padding-right: 3rem;
	
}
ul li a{
	text-decoration: none;
	text-transform: uppercase;
    font-family: 'Orbitron';
	font-size: 1.5em;
	color: black;
	text-align: center;
	position: relative;
}


ul li a::before{
	content: '';
	width: 10px;
	border-radius: 10px;
	height: 5px;
	background: black;
	position: absolute;
	top: 100%;
	left: 0;
	transition: .4s;
}

ul li:hover a::before{
	width: 50%;
	transform: translateX(90%);
}

ul li a::after{
	content: '';
	width: 10px;
	border-radius: 10px;
	height: 5px;
	background: darkgray;
	position: absolute;
	top: 100%;
	left: 0;
	transition: .4s;
}

ul li:hover a::after{
	width: 50%;
	transform: translateX(10%);
}

ul {
	display: flex;
  	justify-content: center;
	margin-left: 6.5rem
}

a:hover{
    color: black;
}
