body{
    background-color: #ffffff !important;
    margin: 0 !important;
	padding: 0 !important;
}

#company-name{
    font-family: 'Orbitron' !important;
    font-size: 2.57rem !important;
    padding-left: 15rem !important;
    margin-bottom: 0 !important;
    padding-top: 15rem !important;
}

#company-tagline{
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 1.1rem !important;
    padding-left: 15rem !important;
    padding-bottom: 5rem !important;
    font-weight: bolder !important;
    font-style: italic !important;
}

hr{ display: block !important; 
    height: 1px !important;
    border: 0 !important; 
    border-top: 1px solid #ccc !important;
    margin: 0em; 
    padding: 0 !important; 
    border-color: black !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}