.wrapper {
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-color: yellow;
  border-right-color: yellow;
  border-bottom-color: yellow
}

img{
  height: 250px;
  width: 250px; 
  padding: 0 !important;
  margin: 0 !important;
}

.card{
  height: 250px;
  width: 250px; 

}