body{
    background-color: #ffffff !important;
    margin: 0 !important;
	padding: 0 !important;
}

#manager1, #strategy1{
    padding-left: 10rem !important;
    padding-right: 5rem !important;
}

#manager2, #strategy2{
    padding-left: 5rem !important;
    padding-right: 10rem !important;
}

h2{
    font-family: 'Orbitron' !important;
    padding-top: 3rem !important;
}

h3{
    font-family: 'Orbitron' !important;
    padding-top: 2rem !important;
}

h5{
    font-family: 'Orbitron' !important;
    font-size: 17px !important;
    color: green;
    padding-top: 1rem
}

p{
    text-align: justify !important;
    text-justify: inter-character !important;
    margin: 0;
    color: black !important;
}

td{
    text-align: center
}

th{
    font-weight: normal
}

hr{
    padding-top: 2rem
}